*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f7f8fa;
  width: 100%;
}

#header {
  background-color: #4a86ff;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

#header a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header a:hover::after {
  width: 100%;
}

#header .right-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .right-top-content span {
  padding-left: 1.5rem;
  color: #fff;
}

#header .right-top-content span .btn {
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #4a86ff;
  padding: 0.6rem 1rem;
  color: #fff;
  -webkit-box-shadow: 0px 0px 5px #c4c4c4;
          box-shadow: 0px 0px 5px #c4c4c4;
  font-size: 0.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header .right-top-content span .btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
}

.first-sec {
  background-color: #4a86ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

.first-sec .card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-sec .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 40px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin: 0 1rem;
}

.first-sec .world-cases {
  color: #aaa;
}

.first-sec .world-deaths {
  color: red;
}

.first-sec .world-recovered,
.first-sec .todayrecovered {
  color: #8aca2b;
}

.first-sec .todaycases,
.first-sec .todaydeaths {
  color: #cc1034;
}

.first-sec .section-heading {
  margin: 0 1rem 1.5rem 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-transform: uppercase;
  background-color: #fff;
  color: #4a86ff;
  font-size: xxx-large;
  padding: 1rem 3.5rem;
  font-weight: 900;
}

.searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.searchbox #search {
  margin: 1rem 2rem 0 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50%;
  outline: none;
}

.searchbox i {
  position: absolute;
  top: 50%;
  right: 25%;
}

.searchbox i:hover {
  cursor: pointer;
  color: #4a86ff;
}

.api-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#covid-table {
  width: 90%;
  margin: 2rem;
  min-width: 400px;
  font-size: 0.9em;
  border-collapse: collapse;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  overflow: scroll;
}

#covid-table thead tr {
  text-align: center;
}

#covid-table thead tr span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#covid-table th {
  background-color: #4a86ff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
}

#covid-table td,
#covid-table th {
  padding: 12px 15px;
}

#covid-table th:nth-child(1),
#covid-table th:nth-child(2) {
  text-align: left;
}

#covid-table tbody tr {
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#covid-table tbody tr img {
  width: 3.5rem;
  height: auto;
  margin-right: 1rem;
}

#covid-table tbody tr:nth-of-type(even) {
  background-color: #f9fbff;
}

#covid-table tbody tr:last-of-type {
  border-bottom: 2px solid #4a86ff;
}

#covid-table tbody tr:hover {
  color: #4a86ff;
  font-weight: 900;
  border-bottom: 2px solid #ddd;
}

#covid-table td:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  font-size: 3rem;
  color: #4a86ff;
  background-color: #fff;
  border-radius: 2rem;
  display: none;
}

@media only screen and (max-width: 1072px) {
  .card-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-details .card {
    margin: 1rem 0;
  }
  .section-heading {
    text-align: center;
    width: auto !important;
    height: auto !important;
  }
}
/*# sourceMappingURL=style.css.map */